h1 {
	text-align: center;
}

.menu {
	background-color: #efefef;
	padding-top: 2%;
	padding-bottom: 2%;
}

.menu-item {
	display:flex;
	flex-direction: column;
	margin-bottom: 5%;
}

.menu-item > * {
	margin: 2% 2% 0 2%;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.input-group > input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    border: 1px solid #ccc;
    margin: 0;
}

.color-picker{
	padding: 3 3 3 3;
	width: 96%;
}

input {
	padding: 6px 12px;
	border: 1px solid #ccc;
	text-align: right; 
}

.suffix .input-group-addon {
    border-left: 0;
}
.presuffix input {
    border-radius: 0px;
}

.input-group-addon.suffix {
    border-left: 0;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

/* Slider */
.slider {
  padding: 0 0 0 0;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 10px; /* Specified height */
  background: #ffffff; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: rgb(119, 118, 118); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: rgb(119, 118, 118); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

li {
	list-style-type: none;
	list-style-position:inside;

}

ul{
	margin:0;
	padding:0;
}